html{
    cursor: default;
}
div.headbar{
    position: fixed;
    min-width: 128px;
    height: 100%;
    background-color: #e5e9ea;
    border-radius: 0,0,0,0;
    z-index: 10;
}
span[class^=fui-]{
    margin-right: 6px;
}
.headbar a{
    width: 100%;
    font-size: 20px;
    color: #34495e;
    font-weight: 700;
    padding-left: 16px;
    display: block;
    
}

.headbar li.active a{
    background-color: #16a085;
    color: #d5d9da;
    border-style: solid;
    border-color: #BDC3C7;
    border-top-width: 0px; 
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    box-shadow: 3px 1px 5px #888888;
}
.headbar li.active a:hover{
    background-color: #16a085;
    color: #d5d9da;
}
.headbar li a:hover{
    background-color: #dadde0;
    box-shadow: 3px 1px 5px #888888;
}
.headbar li.active a:active{
    color: #d5d9da;
}
.headbar li a:active{
    /*color: #ffffff;
    background-color: #34495e;*/
    background-color: #16a085;
    color: #d5d9da;
}
.headbar div.headzone{
    width: 100%;
    padding-top: 16px;
    float: left;
    overflow-x: visible;
    position: relative;
}

.headbar .bodyzone{
    position: relative;
    top: 6px;
    display: block;
}
.bodyzone ul.bodylist{
    list-style-type:none;
    padding-left: 16px;
    -webkit-padding-start: 0px;
}

.bodyzone ul.bodylist li:first-child{
    padding-top: 12px;
}
.mainview{
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    padding-left: 130px;
    z-index: 0;
    overflow:scroll
}
.mainframe{
    position: fixed;
    margin-right: 32px;
    border-style: none;
    overflow: auto;
    width: 100%;
    height: 100%;


}
.modal-main-acm{
    width: 100%;
    height: 100%
}
.modal-main-acm select{
    margin-top: 6px;
    margin-bottom: 6px;
    height: 24px;
    width: 152px;
}

.modal-main-acm .wrp{
    height: 36px;
    float: left;
    position: relative;
    left: 0px;
    padding-right: 0px;
    margin: 2px;
}
.modal-main-acm .wrp .btn{
    margin-right: 2px
}
.schedu-radio-group{
    float: left;
    padding-left: 16px;
}
.schedu-time-pick{
    float: left;
    padding-left: 16px;
    height: 43px;
}
.schedu-time-pick select{
    margin-top: 9px;
}
.schedu-check-group{
    border: 2px solid #f0f0f0;
    border-radius: 6px;
    float: left;
    width: 95.5%;;
}
.schedu-checkbox{
    float: left;
    margin-left: 16px;
}
.bootstrap-tagsinput{
    float: left;
    clear: both;
    width: 95.5%;
}
div.tagsinput-add{
    float: right;
    width: 4.5%;
}
.dropdown-menu{
    left: -175px;
    overflow: auto;
    max-height: 216px;
}